/* Basic styles */  
body {  
    margin: 0;  
    font-family: Arial, sans-serif;  
    transition: background-color 0.3s, color 0.3s;  
}  

#app {  
    display: flex;  
    flex-direction: column;  
    height: 100vh;  
}  

button {  
    margin: 10px 0;  
    font-size: 16px;  
}  

.container {  
    display: flex;  
    flex: 1;  
}  

.editor, .preview {  
    width: 50%;  
    padding: 20px;  
    box-sizing: border-box;  
    overflow-y: auto;  
}  

textarea {  
    width: 100%;  
    height: calc(100vh - 140px); /* Full height minus header and button */  
    resize: none;  
    font-size: 16px;  
}  

/* Preview Content */  
.preview-content {  
    border: 1px solid #ccc;  
    padding: 10px;  
    overflow-y: auto;  
}  

/* Light Mode Styles */  
.light-mode {  
    background-color: white;  
    color: black;  
}  

.light-mode button {  
    background-color: #f0f0f0;  
    color: black;  
}  

.light-mode .editor, .light-mode .preview {  
    background-color: #f9f9f9;  
    border: 1px solid #ddd;  
}  

/* Dark Mode Styles */  
.dark-mode {  
    background-color: #333;  
    color: white;  
}  

.dark-mode button {  
    background-color: #555;  
    color: white;  
}  

.dark-mode .editor, .dark-mode .preview {  
    background-color: #444;  
    border: 1px solid #222;  
}